footer {
    background-color: black;
    color: #ffffff;
}

footer p {
    filter: brightness(8);
    font-size: 20px;
}

#MyStory p {
    font-size: 18px;
    font-family: 'Ubuntu', sans-serif;
    text-align: justify;
    text-justify: inter-word;
}

#MyStory img {
    float: right;
    height: 20em;
    width: 30em;
    margin-bottom: 5px;
    margin-left: 10px;
}



.dropdown-menu {
    border-radius: 0;
    background-color: #ffffff00;
    border: none;
    color: white;
}

.dropdown-item:focus, .dropdown-item:hover {
    text-decoration: underline !important;
    color: #0cbacf;
    background-color: rgba(0, 0, 0, 0.6);
}

.dropdown-item {
    color: white;
    padding: 10px 20px;
    margin: 1px;
    background-color: rgba(0, 0, 0, 0.6);
}

.navbar .nav-item:hover .dropdown-menu {
    display: block;
}

.navbar .nav-item .dropdown-menu {
    margin-top: 0;
}

@media all and (min-width: 992px) {
    .navbar .nav-item .dropdown-menu {
        display: none;
    }
    .navbar .nav-item:hover .nav-link {
        color: #fff;
    }
    .navbar .nav-item:hover .dropdown-menu {
        display: block;
    }
    .navbar .nav-item .dropdown-menu {
        margin-top: 0;
    }
}

.dropdown-toggle {
    margin-top: 0.25em;
    text-transform: capitalize;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 0.5px;
    color: #fff;
    transition: all 0.5s;
    margin-top: 5px;
}

.workshop-table {
    overflow: scroll;
}

@media (max-width: 992px) {
    .dropdown-toggle{
        padding: 15px 0px;
		color: #1e1e1e!important;
    }
}

@media all and (max-width: 573px) {
    #MyStory img {
        float: none;
        display: block;
        width: 100%;
        height: auto;
        margin-bottom: 20px;
        margin-left: 0;   
    }
}